<% @posts.each do |post| %>
  <%= image_tag post.user.photo %>
  <%= post.user.name %>
  <%= image_tag post.photo %>
  <%= post.description %>
  <%= image_tag post.user.photo %>

  	<% if post.user == current_user %>
  	<%= link_to 'Edit Post', edit_posts_path(post.id) %>
  	<%= link_to 'Delete Post', posts_path(post.id), method: :delete %>
	<% end %>

	<% post.comments.each do |comment| %>
	<p> <%= comment.user.name %> <%= comment.text%> </p>
	<% end %>

	<% if user_signed_in? %>
	<%= simple_form_for Comment.new, url: posts_comments_path(post), method: :post do |f| %>
    <%= f.input :text, label: 'Comment', placeholder: 'Add a Comment..' %>
    <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
  	<% end %>
  	<% end %>

<%end %>